
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #a7bceb;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(197, 212, 245);
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:rgb(169, 188, 230);
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #0e0909;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(100, 120, 211);
  color: rgb(214, 212, 241);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color:#a7bceb;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color:  rgb(197, 212, 245);
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color:  rgb(185, 204, 243);
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(100, 120, 211);
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
